/* Profile.module.css */

.profile-page {
    padding: 20px 20%;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
    
  .profile-container {
    background-color: #007bff39;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #007bff;
    border-radius: 15px;
  }
  .profile-image {
    border: 4px solid white;
    width: 70%;
    border-radius: 50%;
  }
  
  .metadata {
    margin-left: 50px;
  }
  .metadata h1{
    font-size: 50px;
  }
  .metadata p span{
    color: rgba(81, 81, 81, 0.585);
  }

  .episode-list {
    list-style: none;
    padding: 0;
  }
  
  .episode-list li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007bff17;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .episode-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .episode-list a:hover {
    color: #007bff;
  }
  
  .episode-list strong {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .episode-list p {
    margin: 0;
  }
  
  @media (max-width: 1000px) {
    .profile-page {
      padding: 20px 10%;
    }
  }
  @media (max-width: 600px) {
    .profile-page {
      padding: 10px 5%;
    }      
    .profile-container {
      flex-direction: column-reverse;
    }
    .image-container{
      height: 200px;
      width: 100%;
    }
    .profile-image {
      width: 65%;
    }
    .metadata {
      margin-top: 50px;
      text-align: center;
      margin-left: 0;
    }
    .metadata h1{
      font-size: 50px;
    }
    .metadata p span{
      color: rgba(81, 81, 81, 0.585);
    }
  }