.filterContainer{
    background-color: rgb(241, 241, 241);
    border-radius:  10px;
    padding: 30px 15px;
    box-shadow:  5px 5px 9px #cacaca
}
.filterContainer .heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.filterContainer h3{
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 25px;
}
.filter{
    margin: 20px 10px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.subHeading{
    color: rgb(118, 118, 118);
    font-weight: 500;
    line-height: 30px;
    font-size: 13px;
    display: inline;
}
.reset{
    float: right;
    cursor: pointer;
}
.option{
    display: flex;
    margin: 2px;
    align-items: center;
}
.option input{
    margin: 5px;
}
  