.filterContainer{
    background-color: rgb(241, 241, 241);
    border-radius:  10px;
    padding: 30px 15px;
    box-shadow:  5px 5px 9px #cacaca
}
.filterContainer .heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.filterContainer h3{
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-size: 25px;
}
.filter{
    margin: 20px 10px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.subHeading{
    color: rgb(118, 118, 118);
    font-weight: 500;
    line-height: 30px;
    font-size: 13px;
    display: inline;
}
.option{
    display: flex;
    margin: 2px;
    align-items: center;
}
.option input{
    margin: 5px;
}
.submitButton{
    width: 100%;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}
.submitButton:active{
    scale: 0.9;
}

/*MOBILE FILTER CSS*/
/* FILTER MOBILE CSS */
.mobileFiltersContainer {
    width: 100%;
  }
  
  .filterIcon {
    scale: 0.8;
    float: right;
    padding: 6px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 15px;
  }
  
  .mFilter {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 4vh 2vw;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
  }
/* FILTER MOBILE CSS */
.mobileFiltersContainer {
    width: 100%;
  }
  
  .filterIcon {
    scale: 0.8;
    float: right;
    padding: 6px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 15px;
  }
  
  .mFilter {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 4vh 2vw;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
  }
    