.homeMain {
    height: 100%;
    width: 100%;
}
.header{
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position-y: -150px;
    object-fit: contain;
    height: 350px;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.737);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay h1{
    color: white;
    font-size: 50px;
    font-weight: 200;
    cursor: default;
    user-select: none;
}
.searchContainer{
    padding: 0 30px;
    border: 1px solid grey;
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
}
.searchBar{
    display: flex;
    align-items: center;
}

.searchBar input {
    font-size: 15px;
    background-color: transparent;
    border: 2px solid transparent;
    width: 70px;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    transition: all 0.5s;
}
  
.searchBar input:focus {
    width: 300px;
}

.searchBar select {
    font-size: 15px;
    color: grey;
    padding: 5px;
    padding-left: 0;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-right: 10px;
    outline: none;
}
  
.searchBar select option {
    background-color: #fff;
    color: grey;
}
.searchIcon{
    border: none;
    background-color: transparent;
    scale: 1.5;
    cursor: cell;
    transition: linear 0.2s;
}

.clear{
    transform: rotate(45deg);
    scale: 1.5;
    cursor: pointer;
}

/* MAIN */
.main{
    box-sizing: border-box;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    gap: 5%;
}
.filter{
    flex-basis: 25%;
}
.characterGrid{
    flex-basis: 75%;
}

@media (max-width: 800px) {
    .header{
        background-size: cover;
        background-position-y: 0;
        object-fit: contain;
        height: 250px;
    }
    .searchContainer{
        scale: 0.8;
        width: 350px;
    }
    input:focus {
        width: 180px;
    }
}