/* HEAD SECTION */
.home {
    height: 100%;
    width: 100%;
}
.header{
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position-y: -150px;
    object-fit: contain;
    height: 350px;
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.359);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay h1{
    color: white;
    font-size: 50px;
    font-weight: 200;
    cursor: default;
    user-select: none;
}

/* SEARCH BAR */
.searchContainer{
    padding: 0 30px;
    border: 1px solid grey;
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
}
.searchContainer input {
    width: 250px;
    font-size: 16px;
    border: none;
    outline: none;
}

.searchIcon{
    cursor: pointer;
    scale: 1.5;
}
/* Tabs */
.tabsContainer{
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}
.tabsContainer span{
    border: 2px solid transparent;
    color: grey;
    font-size: 14px;
    margin: 5px;
    font-weight: 500;
    padding: 5px 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:  0px 0px 5px #cacaca
}
.tabsContainer .active{
    background-color: orange;
    color: white;
}
.tabsContainer span:hover{
    border: 2px solid orange;
}

/* MAIN */

@media (max-width: 800px) {
    .header{
        background-size: cover;
        background-position-y: 0;
        object-fit: contain;
        height: 250px;
    }
    .searchContainer{
        scale: 0.7;
        width: 80%;
    }
    .overlay h1{
        font-size: 30px;
    }
    .main{
        gap: 0;
        padding: 20px 15px;
    }
    .tabsContainer{
        margin: 15px;
    }
    .tabsContainer span{
        font-size: 11px;
        margin: 3px;
        font-weight: 400;
        padding: 5px 10px;
    }
}




  