html,
body,
#root,
.App{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    width: 10px;
    background-color: rgb(45, 45, 45);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 2px;
}